<form class="mt-3 card p-3" action="{% url 'create_voucher' %}" enctype="multipart/form-data" method="post" >
    {% csrf_token %}

    <div class="row">
        <div class="mb-3 col-12 col-md-6">
            <label for="voucher_description" class="form-label">Description</label>
            {{ form.voucher_description }}
        </div>

        <div class="mb-3 col-12 col-md-6">
            <label for="voucher_price" class="form-label">Price</label>
           {{ form.voucher_price }}
        </div>
    </div>

    <div class="row">

        <div class="mb-3 col-12 col-md-3">
            <label for="voucher_status" class="form-label">Status</label>
            {{ form.voucher_status }}
        </div>

        <div class="mb-3 col-12 col-md-3">
            <label for="voucher_quantity" class="form-label">Quantity</label>
           {{ form.voucher_quantity }}
        </div>
    </div>

     <button type="submit" class="mb-3 col-12 btn btn-dark">Submit</button>
</form>