<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Tx Hash</th>
        </tr>
    </thead>
    <tbody>
        {% for v in voucher_table %}
        <tr>
            <td>{{ v.voucher_id }}</td>
            <td>{{ v.voucher_description }}</td>
            <td>€ {{ v.voucher_price }}</td>
            <td><span class="badge bg-info">{{ v.voucher_status }}</span></td>
            <td>{{ v.voucher_tx_hash }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>